<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">


<div layout:fragment="content">

    <form action="/board" role="form" method="post">
        <div class="form-group">
            <p th:for="title">제목</p>
            <input type="text" class="form-control" placeholder="제목을 입력해주세요.">
        </div>
        <div class="form-group">
            <label th:for="text">게시글</label>
            <p>
                <textarea class="form-control" placeholder="내용을 입력해주세요."></textarea>
            </p>
        </div>
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary" style="">Submit</button>
        </div>
    </form>

</div>

</html>